*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-image: url(/img/outerspace-53.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
}

#pulsar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white(255, 255, 255);
    margin-top: 16%;
    margin-left: 40%;
    
}


#pulsar:before, #pulsar::after{
 content: '';
 display: block;
 position: absolute;
 left: 530px;
 right: 600px;
 top: 200px;
 bottom: 200px;
 border-radius: 50%;
 border: 2px solid white;
 animation: animar 1.5s linear infinite;
 opacity: 0;

}

#pulsar  h1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 40%;
}
#pulsar a {
    text-decoration: none;
    cursor: pointer;

}


#pulsar::after{
    animation-delay: .5s;
}

@keyframes animar {
    0% {
        transform: scale(0.5);
        opacity: 0;
        
    }

    50% {
        opacity: 1;

    }
    100% {
        transform: scale(1.5);
        opacity: 0;

    }
}